@CHARSET "UTF-8";

header {
	background-color: lightgreen;
}
footer {
	background-color: lightblue;
}

.odd {
	background-color: lightgray;
}

header ul li {
	display: inline;
}

#action-item {
	margin: 5px;
}