<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/default">
<head>
<meta charset="UTF-8"></meta>
<title>Port Sacn</title>
<style type="text/css">
#postScan-container {
}
.result-li {
	display: inline-block;
	border:1px solid orange;
	font-size: 9pt;
	color: gray;
	border-radius: 5px;
	padding:2px;
}
.result-listen {
	color: red;
}
.result-close {
	display: none;
}
input, textarea {
	background-color:rgba(0,0,0,0);
	border:0;
}
label {
	margin-right: 15px;
}
</style>
</head>
<body>
<div class="container" role="main" data-layout-fragment="content">

	<div class="page-header">
		<h1>Port scanner</h1>
 	</div>
 	
 	<div class="row">
 		<div class="col-sm-8">
 		
 	<form>
 	<div class="panel panel-info">
 		<div class="panel-heading">
 		<h3 class="panel-title">
	 		<label>IP Address
	 			<input name="ip" size="11" th:value="${ip}" placeHolder="ip address"/></label>
	 		<label>Port from
	 			<input name="ports" size="5" th:value="${ports}" placeHolder="port"/></label>
	 		<label>to
	 			<input name="porte" size="5" th:value="${porte}" placeHolder="port"/></label>
	 		<button class="btn btn-sm btn-success" style="float:right" type="submit">Scan</button>
 		</h3>
 		</div>
 		<div class="panel-body">
 		<textarea name="portArr" style="width:100%; height:100px;" placeHolder="ex. 8080, 8081, 8082" th:text="${portArr}"></textarea>
		</div>
	</div>
 	</form>
 	
 	<div class="panel panel-info">
 		<div class="panel-heading">
			<h3 class="panel-title">Result - <span class="result-listen">LISTEN</span></h3>
 		</div>
 		<div class="panel-body">
	 		<span th:each="result : ${results}" class="result-li" th:classappend="${result[2]} ? 'result-listen' : 'result-close'" th:text="${result[1]}">result</span>
		</div>
	</div>

 		</div>
 	</div>

</div>
</body>
</html>
