<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" data-layout-decorator="layout/default">
<head>
<meta charset="UTF-8"></meta>
<title>Home - Flayon</title>
</head>
<body>
<section data-layout-fragment="content" th:inline="text">

	<div class="jumbotron">
		<h1><b th:text="#{jk.crazy}">Welcome!</b> <span sec:authorize="isAuthenticated()" th:text="|${#httpServletRequest.remoteUser}!|"></span></h1>
	
		<p th:text="#{home.favorites.wording1}">home.favorites.wording</p>
		<p th:text="#{home.favorites.wording2}">home.favorites.wording</p>
	</div>

</section>
</body>
</html>