<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Users - JPA Demo</title>
</head>
<body>
<h1>User list by Velocity</h1>

<ul>
#foreach($user in $userList)
	<li>$user.id, $user.name, $user.age
#end
</ul>
</body>
</html>